:root {
    /* Головні фони */
        --body-main-color: #FFFFFF;
        --second-main-color: #F5F4FA;
        --footer-background: #2F303A;
    /* Текст та акцент */
        --primary-text-color: #757575;
        --title-text-color: #212121;
        --accent-color: #2196F3;
    /* Логотип компанії */
        --logo-second-part-header: #000000;
        --logo-second-part-footer: #FFFFFF;
        --logo-first-part-color: #2196F3;
    /* Кнопки і поля вводу */
        --buttons-text-color: #ffffff;
        --button-color: #2196F3;
        --filter-button-static-background: #F5F4FA;
        --modal-button-focus-color: #188CE8;
        --input-footer: #FFFFFF;
    /* Блок героя */
        --hero-reserve-background: #2F303A;
    /* Анімації */
        --post-animation-text-color: #FFFFFF;
        --post-animation-text-background: #2196F3E5;
        --const-transition-duration: 250ms;
        --const-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* Блок специфіки роботи */
        --background-specific-icon: #F5F4FA;
    /* Блок декоративних зображень */
        --images-text-color: #FFFFFF;
        --background-images-text-color:#2F303ACC;
    /* Картки виконавців та прикладів робіт */
        --cards-background: #FFFFFF;
    /* Посилання на соцмережі виконавців та клієнтів */
        --worker-client-static-color: #afb1b8;
        --socies-icon-change-color: #FFFFFF;
    /* Підвал */
        --footer-titles: #FFFFFF;
        --footer-address-color: #FFFFFF;
        --footer-contacts-color: #FFFFFF99;
        --footer-socies-logo-color: #FFFFFF;
        --footer-socies-logo-background: #FFFFFF1A;
    /* Модальне вікно */
        --modal-background-screen: #00000033;
        --modal-background-color: #FFFFFF;
}

body {
    color: var(--primary-text-color);
    background-color: var(--body-main-color);
    font-family: 'Roboto',sans-serif;

}

/* Дефолтні налаштування */
p, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    background-color: var(--body-main-color);
    border-bottom: 1px solid #ECECEC;
}

.header__position {
    display: flex;
    align-items: center;
}

                /* Logo */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo__part {
    color: var(--logo-first-part-color);
}

.header__logo {
    color: var(--logo-second-part-header);
}

.footer__logo {
    color: var(--logo-second-part-footer);
}

.site-nav {
display: flex;
margin-left: 93px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    transition: color var(--const-transition-duration) var(--const-transition-timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link--current::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background-color: var(--accent-color);
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list__item:not(:first-child) {
    margin-left: 50px;
}

.contact-list__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
}

.contact-list__icon {
    margin-right: 10px;
    fill: currentColor;
    cursor: pointer;
}

.site-nav__link, 
.contact-list__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--const-transition-duration) var(--const-transition-timing-function);
}

.contact-list__link:hover,
.contact-list__link:focus{
    color: var(--accent-color);
}

/* СТУДИЯ СТИЛІЗАЦІЯ ОСНОВНОГО КОНТЕНТУ */

/* Hero section */

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    max-width: 1600px;
    height: 600px;

    background-color: var(--hero-reserve-background);

    background-image: 
    linear-gradient(to top,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/aherophoto.jpg);

    background-repeat: no-repeat;
    background-position: center;
}

.hero-section__title {
    max-width: 696px;
    margin: 0 auto 30px;

    color: var(--body-main-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-section__button {
    margin: 0 auto;
    display: block;
    text-align: center;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color:var(--buttons-text-color);
    background-color: var(--button-color);  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

/* Блок загальної інформації */

.features-work {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-work__list {
    display: flex;
}

.features-work__item:not(:first-child) {
    margin-left: 30px;   
}

.features-work__background {
    border: none;
    display: block;
    width: 270px;
    height: 120px;
    background-color: var(--background-specific-icon); 
    margin-bottom: 30px;
}

.features-work__icon {
    margin: 25px 100px;
}

.features-work__title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-work__text {
    width: 270px;
    height: 75px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Продукція */

.production {
    margin: 0 auto;
    padding-bottom: 94px;
}

.production__title {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.production__list {
    display: flex;
    margin: 0 auto;
}

.production__item:not(:first-child) {
    margin-left: 30px;
}

.production__item {
    position: relative;
    display: inline-block;
    width: 370px;
    height: 294px;
}

.production__text {
    position: absolute;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    
    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    
    color: var(--images-text-color);
    background-color: var(--background-images-text-color);
}

/* Дані про виконавців */

.workers {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--second-main-color); 
    margin: 0 auto;
}

.workers__list {
    display: flex;
}

.workers__title {
    margin: 0 auto 50px;
}

.workers__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.workers__item:not(:first-child) {
    margin-left: 30px;
}

.workers__item {
    background: var(--cards-background);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
}

.workers__meta {
    padding-top: 30px;
    padding-bottom: 30px;
}

.workers__name {
    margin: 0 auto;
    padding-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
}

.workers__specialty {
    margin: 0 auto;
}

.workers__name,
.workers__specialty {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-profile {
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

.social-profile__item:not(:first-child) {
    margin-left: 10px;
}

.social-profile__item {
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 50%;
}

.social-profile__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--worker-client-static-color);
    transition: color var(--const-transition-duration) var(--const-transition-timing-function),
    background-color var(--const-transition-duration) var(--const-transition-timing-function);
}

.social-profile__logo {
    fill: currentColor;
}

.social-profile__link:hover,
.social-profile__link:focus{
    color: var(--socies-icon-change-color);
    background-color: var(--accent-color);
}

/* ПОСТІЙНІ КЛІЄНТИ */

.client-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-section__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
}
.client-section__list {
    display: flex;
}

.client-section__item:not(:first-child) {
    margin-left: 30px;
}

.client-section__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    cursor: pointer;
    transition: border var(--const-transition-duration) var(--const-transition-timing-function),
    color var(--const-transition-duration) var(--const-transition-timing-function);
}

.client-section__link:hover,
.client-section__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.client-section__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    border-radius: 4px;
    color: var(--worker-client-static-color);
    border: 1px solid #AFB1B8;
}

.client-section__logo {
    fill: currentColor;
}

/* ПІДВАЛ */
    /* Контактні дані */
address {
    font-style: normal;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-background);
}

.footer-position {
    display: flex;
    align-items: baseline;
}

.footer-address {
    margin-top: 20px;
}

.footer-address__item:not(:first-child) {
    margin-top: 9px;
}

.footer-address__location {
    color: var(--footer-address-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address__contact {
    color: var(--footer-contacts-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
    /* Підписки на соцмережі */
.footer-socials {
    margin-left: 70px;
}

.footer-socials__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-titles);
}

.footer-socials__list {
    display: flex;
    margin-top: 20px;
}

.footer-socials__item:not(:first-child) {
    margin-left: 10px;
}

.footer-socials__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-socies-logo-background);
}

.footer-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--const-transition-duration) var(--const-transition-timing-function);
}

.footer-socials__logo {
    fill: var(--footer-socies-logo-color);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
    background-color: var(--accent-color);
}
    /* Підписка на телеграм */

.footer-subscription {
    margin-left: 93px;
}

.footer-subscription__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-titles);
    margin-bottom: 20px;
    }

.subscription-form__meta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-form__input {
    padding: 15px 16px;
    margin-right: 12px;

    width: 358px;
    height: 50px;

    color: var(--input-footer);
    background-color: var(--footer-background);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscription-form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    color: var(--buttons-text-color);
    background-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.subscription-form__icon {
    margin-left: 10px;
}

/* Модальне вікно */

    /* Налаштування основи модального вікна */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background-screen);
    transition: var(--const-transition-duration) var(--const-transition-timing-function);
}

.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.modal {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    background-color: var(--modal-background-color);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
}

.modal-close {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-top: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--modal-background-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-close__icon {
    width: 11px;
    height: 11px;
    fill: rgb(0, 0, 0);
    
    transition: fill var(--const-transition-duration) var(--const-transition-timing-function);
}

.modal-close__icon:hover {
   fill: var(--accent-color);
}
    /* Зміст модального вікна */
    
.form-group input {
    margin: 0;
    padding: 14px 42px;
    padding-right: 15px;
}

.modal-form__title {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.form-group__lable {
    margin-bottom: 4px;

    max-height: 14px;
    font-size: 12px;
    line-height: 1.16;    
    letter-spacing: 0.01em;
    
    color: var(--primary-text-color);
}

.form-group__input {
    max-width: 448px;
    max-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: var(--const-transition-duration) var(--const-transition-timing-function);
}

.form-group__icon {
    position: absolute;
    top: 33px;
    left: 55px;

    transition: fill var(--const-transition-duration) var(--const-transition-timing-function);

}

.form-group__input:focus,
.form-group__comment:focus {
    outline: 1px solid var(--accent-color);
}

.form-group__input:focus + .form-group__icon {
    fill: var(--accent-color);
}

.form-group__comment {
    padding: 12px 16px;
    margin-bottom: 20px;
    
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.agreement-block {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
}

.agreement-block__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.policy-text {
    display: flex;
    align-items: center;
}

.agreement-block__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid black;

    transition: background-color var(--const-transition-duration) var(--const-transition-timing-function);
}

.agreement-block__checkbox:checked + .agreement-block__logo {
    background-origin: border-box;
    background-color: var(--accent-color);
    background-size: contain;
    border: var(--accent-color);
}

.agreement-block__label {
    display: block;
    margin-left: 7px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.agreement-block__link {
    color: var(--accent-color);
    text-decoration: underline;
}

.form-button {
    display: block;
    margin: 30px auto 40px;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    color: var(--buttons-text-color);
    background-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color var(--const-transition-duration) var(--const-transition-timing-function);
}

.form-button:focus {
    background-color: var(--modal-button-focus-color);
}

/* ПОРТФОЛИО СТИЛІЗАЦІЯ ОСНОВНОГО КОНТЕНТУ */

.section-portfolio {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-list {
    display: flex;
    margin: 0 auto 50px;
    justify-content: center;
}

.filter-list__item:not(:first-child) {
    margin-left: 8px;
}

.filter-list__button {
    padding: 6px 22px;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--filter-button-static-background);
    border: none;
    cursor: pointer;

    transition: color var(--const-transition-duration) var(--const-transition-timing-function),
    background-color var(--const-transition-duration) var(--const-transition-timing-function),
    box-shadow var(--const-transition-duration) var(--const-transition-timing-function);
}

.filter-list__button:hover,
.filter-list__button:focus,
.filter-list__button:active {
    color:var(--buttons-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}

.poster-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.poster-list__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    background-color: var(--cards-background);
    transition: box-shadow var(--const-transition-duration) var(--const-transition-timing-function);
}

.poster-list__item:hover,
.poster-list__item:focus {
    box-shadow:  1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.poster-list__item:nth-child(3n) {
    margin-right: 0;
}

.poster-list__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.poster-list__item:hover .poster-list__description {
    opacity: 1;
}

.poster-list__animation {
    position: relative;
    overflow: hidden;
}

.poster-list__item:hover ::before {
    opacity: 1;
    transform: translateY(0);
}

.poster-list__animation::before {
    position: absolute;
    content: " ";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color:var(--post-animation-text-background);
    opacity: 0;
    transform: translateY(100%);

    transition: transform var(--const-transition-duration) var(--const-transition-timing-function),
    opacity var(--const-transition-duration) var(--const-transition-timing-function);
}

.poster-list__description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 322px;
    height: 168px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--post-animation-text-color);
    opacity: 0;

    transition: opacity var(--const-transition-duration) var(--const-transition-timing-function);
}

.poster-list__meta {
    padding: 20px 24px;
}

.poster-list__name {
    min-width: 322px;
    margin: 0px auto;
    padding-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;   
}

.poster-list__category {
    margin: 0 auto;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}