// Головні фони //
$body-main-color: #FFFFFF;
$second-main-color: #F5F4FA;
$footer-background: #2F303A;
// Текст та акцент //
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
// Логотип компанії //
$logo-second-part-header: #000000;
$logo-second-part-footer: #FFFFFF;
$logo-first-part-color: #2196F3;
// Кнопки і поля вводу //
$buttons-text-color: #ffffff;
$button-color: #2196F3;
$filter-button-static-background: #F5F4FA;
$modal-button-focus-color: #188CE8;
$input-footer: #FFFFFF;
// Блок героя //
$hero-reserve-background: #2F303A;
// Анімації //
$post-animation-text-color: #FFFFFF;
$post-animation-text-background: #2196F3E5;
$const-transition-duration: 250ms;
$const-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// Блок специфіки роботи //
$background-specific-icon: #F5F4FA;
// Блок декоративних зображень //
$images-text-color: #FFFFFF;
$background-images-text-color:#2F303ACC;
// Картки виконавців та прикладів робіт //
$cards-background: #FFFFFF;
// Посилання на соцмережі виконавців та клієнтів //
$worker-client-static-color: #afb1b8;
$socies-icon-change-color: #FFFFFF;
// Підвал //
$footer-titles: #FFFFFF;
$footer-address-color: #FFFFFF;
$footer-contacts-color: #FFFFFF99;
$footer-socies-logo-color: #FFFFFF;
$footer-socies-logo-background: #FFFFFF1A;
// Модальне вікно //
$modal-background-screen: #00000033;
$modal-background-color: #FFFFFF;
